@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.gallery-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  font-family: ' Great Vibes ', cursive;
}

.main-image-container {
  position: relative;
  overflow: hidden;
  
}

.main-image {
  width:100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.caption {
  margin-top: 15px;
  font-size: 1.25rem;
  color: #f1f1f1;
  font-weight: 500;
  transition: all 0.4s ease;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.thumbnail:hover {
  opacity: 1;
  transform: scale(1.05);
}

.thumbnail.active {
  border-color: #f5a1bd;
  opacity: 1;
}
